@font-face {
    font-family: 'advert';
    src: url('fonts/advert.woff2') format('woff2'),
    url('fonts/advert.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'magnolia-script';
    src: url('fonts/magnolia-script.woff2') format('woff2'),
    url('fonts/magnolia-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.woff2') format('woff2'),
    url('fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}