html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.picture {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navigator {
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  width: 191px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('images/navigator-way.png');
  background-size: 75% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.navigator-circle-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.navigator-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: magnolia-script, serif;
  font-size: 15px;
  color: #f5f5f5;
  text-align: center;
  width: 80px;
  min-height: 80px;
  background-color: #35353a;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigator-circle-container:nth-child(even) {
  align-self: flex-end;
}

.navigator-circle:hover {
  border: solid 10px #a9d620;
  border-radius: 60px;
  margin-top: -10px;
  margin-left: -10px;
}

.navigator-circle-highlight {
  border: solid 10px #95c11f;
  border-radius: 60px;
  margin-top: -10px;
  margin-left: -10px;
}

.mobile {
  font-family: advert, serif;
  position: absolute;
  top: 100px;
  right: 20px;
  width: 247px;
  height: 500px;
  background-image: url('images/mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checklist-header {
  font-size: 30px;
  position: absolute;
  top: 83px;
  width: inherit;
  text-align: center;
}

.checklist {
  font-size: 20px;
  position: absolute;
  top: 160px;
  right: 30px;
  left: 30px;
}

.checklist > div {
  position: relative;
  margin-bottom: 12px;
}

.checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: solid 5px #979797;
}

.checkbox-cross {
  position: absolute;
  width: 40px;
  margin-top: -10px;
}

.checkbox-tick {
  position: absolute;
  width: 40px;
  margin-top: -3px;
}

.label {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 5px;
  right: 0;
}

.description-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
}

.description {
  position: relative;
  font-family: opensans, serif;
  font-size: 25px;
  color: white;
  width: 700px;
  height: 150px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgba(53, 53, 58, 0.9);
}

.description-text {
  color: #e0dfdd;
  padding-right: 160px;
  padding-left: 15px;
  padding-top: 20px;
}

.next-button {
  font-family: magnolia-script, serif;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50px;
  right: -50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #95c11f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: none;
}

.next-button:hover {
  background-color: #a9d620;
}

.next-button-text {
  line-height: 50px;
}

.next-button-arrow {
  width: 28px;
  margin-left: 10px;
}

.speech-bubble-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}

.speech-bubble {
  font-family: advert, serif;
  font-size: 20px;
  width: 270px;
  height: 200px;
  margin-top: -205px;
  margin-left: -100px;
  z-index: 2;
  background-image: url('images/speech-bubble.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.speech-bubble.with-text > .speech-bubble-microphone {
  transform: translate(0, 50px) scale(0.3);
}

.speech-bubble-microphone {
  position: absolute;
  width: 200px;
  height: 110px;
  margin-top: 24px;
  margin-left: 37px;
  background-image: url('images/microphone-activated.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s linear;
  opacity: 0.4;
}

.speech-bubble-microphone.active-microphone {
  opacity: 1;
}

.speech-bubble-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 34px;
  height: 130px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
